.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

#dropdown01{
  font-size: 1em;
  margin-top: 0.9em;
}

#profileImage{
  width: 1em;
  font-size: 2.7em;
  height: 1em;
  border-radius: 50%;
  background: #512DA8;
  color: #fff;
  text-align: center;
  line-height: 0.9em;
  margin-top: -.5em;
}
